version: '3'

services:
  frontend:
    image: devopsdockeruh/example-frontend
    ports:
     - 5000:5000

  redis:
    image: redis
    container_name: redis

  backend:
    image: devopsdockeruh/example-backend
    ports: 
     - 8080:8080
    environment:
     - REDIS_HOST=redis
